
.container {
    border-radius: 2px;
    
    margin-top: 30px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.table{
    background: cornflowerblue;
}

.list-user {
    margin-bottom: 50px;
}
