


<div class="container">
  

  <mat-card-content class="table">
    <table >
          <thead>
            <tr class="tr">
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              
            </tr>
          </thead>
          <tbody >
            <tr *ngFor='let user of users$'>
              <td class="td">{{user.id}}</td>
              <td class="td">{{user.name}}</td>
              <td class="td">{{user.email}}</td>
              
            </tr>
          </tbody>
        </table>
  </mat-card-content>
</div>
