
.container {
    border-radius: 2px;
    width: 100%!important;
    margin-top: 30px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.table{
    background: cornflowerblue;
    border-radius: 5px;
    margin: 5%;
    padding: 5%;
}

.list-user {
    margin-bottom: 50px;
    margin: 5%;
    padding: 5%;
}
.td {
    margin-right:5%;
}